<nav class="menu">
  <LinkTo class="menu-index" @route="index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo class="menu-about" @route="about">About</LinkTo>
    <LinkTo class="menu-contact" @route="contact">Contact</LinkTo>
  </div>
</nav>
