<NavBar></NavBar>
<Jumbo>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals webside is a delightful project created to explore Ember. By Building a property rental site, we can simultaneously imagine traveling AND building Ember applicaitons.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
